<div class="main_container">
  <div class="container">
    <h1 class="title">Team Generator</h1>
    <div class="list_container">
      <ul>
        <li>Element One</li>
        <li>Element Two</li>
        <li>Element Three</li>
      </ul>
    </div>
    <div class="input_container">
      <input type="text" placeholder="Enter List"/>
      <button>Add</button>
    </div>
    <div class="generate_container">
      <input type="text" placeholder="# of teams"/>
      <button>Generate</button>
    </div>
  </div>
</div>
