<div class="main_container">
  <div class="container">
    <h1 class="title">Team Generator</h1>
    <ul class="list_container">
      <li *ngFor="let member of members">{{member}}</li>
    </ul>
    <div class="input_container">
      <input #newMemberInput type="text" placeholder="Enter List" (input)="onInput(newMemberInput.value)" [value]="newMember"/>
      <button (click)="onClick()">Add</button>
    </div>
    <div class="generate_container">
      <input type="text" placeholder="# of teams"/>
      <button>Generate</button>
    </div>
    <p *ngIf="errorMsg" class="error-msg">{{errorMsg}}</p>
  </div>
</div>
